<html>
<head>
    {% if title %}
        <title>{{ title }} - people messages</title>
    {% else %}
        <title>Welcome to people messages</title>
    {% endif %}
</head>
<body>
{% import 'macros.html' as macros %}
{% include "header.html" %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block content %}{% endblock %}
</body>
</html>
