{% extends "base.html" %}
{% block content %}
    {% if g.user.is_authenticated %}
        <div class="welcome-logged">
            <h1>Hi, {{ user.username }}!</h1>
            {% for post in posts %}
                <div>
                    <p>
                        On {{ post.date }}:
                    </p>
                    <p>
                        {{ post.author.username }} said: <b>{{ post.body }}</b>
                    </p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="welcome-anonymouse">
            <p>Welcome to the magical world of your mother.</p>
        </div>
    {% endif %}
{% endblock %}
