{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" name="login">
        {#  CSRF token stuff from WTForms  #}
        {{ form.hidden_tag() }}
        {{ macros.render_field(form.username, "username_field")}}
        {{ macros.render_field(form.password, "password_field automation_password_field")}}
        {{ macros.render_field(form.remember_me, "checkbox")}}
        <input class="btn btn-default" type="submit" value="Sign In">
    </form>
    <hr>
    <p>or <a href="/register">Register!</a></p>
{% endblock %}
