{% macro render_field(field, form_class="form-control", label_visible=true) -%}
    <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if field.type != 'HiddenField' and label_visible %}
            {{ field.label }}
        {% endif %}
        {{ field(class_=form_class, **kwargs) }}
        {% if field.errors %}
            {% for e in field.errors %}
                <span class="error">{{ e }}</span>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}

{% macro pager(pager, newer, older, url_prev, url_next) -%}
    <ul class="pager">
        {% if pager.has_prev %}
            <li><a href="{{ url_prev }}">&lt;&lt; {{ newer }}</a></li>
        {% else %}
            <li>{{ newer }}</li>
        {% endif %}
        {% if pager.has_next %}
            <li><a href="{{ url_next }}">{{ older }}&gt;&gt;</a></li>
        {% else %}
            <li>{{ older }}</li>
        {% endif %}
    </ul>
{% endmacro %}