{% macro render_field(field, form_class="form-control", label_visible=true) -%}
    <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if field.type != 'HiddenField' and label_visible %}
            {{ field.label }}
        {% endif %}
        {{ field(class_=form_class, **kwargs) }}
        {% if field.errors %}
            {% for e in field.errors %}
                <span class="error">{{ e }}</span>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}