<div class="post {{ post.id }}">
    <img class="img-circle" src="{{ user.avatar(48) }}">
    <div class="post-body well well-sm">
        <div class="user">
            <a href="{{ url_for("user_profile", username=post.author.username) }}"><span class="username">{{ post.author.username }}</span></a> said <span
                class="post-date">{{ momentjs(post.timestamp).fromNow() }}</span>:
        </div>
        <div class="content">
            {{ post.body }}
        </div>
    </div>
</div>