{% extends "base.html" %}
{% block content %}
    <style>
        #post-list .username,
        #user-info .username {
            font-weight: bold;
        }

        #user-info .user-box {
            max-width: 400px;
            width: 20%;
        }

        #user-info span.user-info {
            display: block;
        }

        #post-list div.post-body {
            margin-bottom: 32px;
        }

        .post .post-body {
            overflow: hidden;
        }

        .post img {
            margin-right: 10px;
            float: left;
        }
    </style>
    <div id="user-header">
        <div id="user-info">
            <h1>Username Info:</h1>
            <div class="user-box">
                <div id="user-avatar">
                    <img src="{{ user.avatar(128) }}"/>
                </div>
            <span class="user-info">
                Username: <span class="username">{{ user.username }}</span>
            </span>
            <span class="user-info">
                Registered on: {{ user.registered_on }}
            </span>
                {% if user.last_seen %}
                    <span class="user-info">
                    Last seen on: {{ user.last_seen }}
                </span>
                {% endif %}
                {% if user.about_me %}
                    <span class="user-info">
                    About me: {{ user.about_me }}
                </span>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
    <div id="post-list">
        {% for post in posts %}
            {% include 'post.html' %}
        {% endfor %}
    </div>
{% endblock %}
