{% extends "base.html" %}
{% block content %}
    <style>
        #post-list .username,
        #user-info .username {
            font-weight: bold;
        }

        #user-info .user-box {
            max-width: 600px;
            width: 30%;
        }

        #user-info span.user-info {
            display: block;
        }

        #post-list div.post-body {
            margin-bottom: 32px;
        }

        .post .post-body {
            overflow: hidden;
        }

        .post img {
            margin-right: 10px;
            float: left;
        }
    </style>
    <div id="user-header">
        <form action="" method="POST" name="edit_user">
            {{ form.hidden_tag() }}
            <div id="user-info">
                <h1>Username Info:</h1>
                <div class="user-box">
                    <div id="user-avatar">
                        <img src="{{ user.avatar(128) }}"/>
                    </div>
                    <span class="user-info">Username: {{ form.username(size=24) }}</span>
                    <span class="user-info">About yourself: {{ form.about_me(cols=32, rows=4) }}</span>
                    <span class="user-info">Registered on: {{ user.registered_on }}</span>
                    <input type="submit" value="Save Changes">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
