{% extends "base.html" %}
{% block content %}
    <style>
        #user-avatar {
            margin-right: 10px;
            float: left;
        }

        #user-header {
            min-height: 200px;
        }

        #post-list .username,
        #user-info .username {
            font-weight: bold;
        }

        #user-info .user-box {
            max-width: 600px;
            width: 30%;
        }

        #user-info span.user-info {
            display: block;
        }

        #post-list div.post-body {
            margin-bottom: 32px;
        }

        .post .post-body {
            overflow: hidden;
        }

        .post img {
            margin-right: 10px;
            float: left;
        }
    </style>
    <div id="user-header">
        <div id="user-info">
            <h1>Username Info:</h1>
            <div class="user-box">
                <img id="user-avatar" src="{{ user.avatar(128) }}"/>
                <div class="user-info">
                    Username: <span class="username">{{ user.username }}</span>
                </div>
                {% if user.about_me %}
                    <span class="user-info">About me: {{ user.about_me }}</span>
                {% endif %}
                <span class="user-info">Registered on: {{ user.registered_on }}</span>
                {% if user.last_seen %}
                    <span class="user-info">Last seen on: {{ user.last_seen }}</span>
                {% endif %}
            </div>
        </div>
    </div>
    <div>
        {% if user.id == g.user.id %}
            <a href="/user/edit">Edit</a>
        {% elif not g.user.is_following(user) %}
            <a href="{{ url_for('follow', username=user.username) }}">Follow</a>
        {% else %}
            <a href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a>
        {% endif %}
    </div>
    <hr>
    <div id="post-list">
        {% for post in posts.items %}
            {% with user=post.author %}
                {% include 'post.html' %}
            {% endwith %}
        {% endfor %}
        {% if posts.has_prev %}<a href="{{ url_for('user_profile', username=user.username, page=posts.prev_num) }}">&lt;&lt; Newer posts</a>{% else %}&lt;&lt; Newer posts{% endif %} |
        {% if posts.has_next %}<a href="{{ url_for('user_profile', username=user.username, page=posts.next_num) }}">Older posts &gt;&gt;</a>{% else %}Older posts &gt;&gt;{% endif %}
    </div>
{% endblock %}
