{% extends "base.html" %}
{% block content %}
    <div id="user-header" class="well card">
        <h2>Username Info:</h2>
        <div id="user-info" class="panel panel-info">
            <div class="panel-heading">
                {{ user.username }}
            </div>
            <div class="user-box">
                <img class="img-responsive img-circle" id="user-avatar" src="{{ user.avatar(128) }}"/>
                <div class="user-info">
                    Username: <span class="username">{{ user.username }}</span>
                </div>
                {% if user.about_me %}
                    <span class="user-info">About me: {{ user.about_me }}</span>
                {% endif %}
                <span class="user-info">Registered on: {{ momentjs(user.registered_on).calendar() }}</span>
                {% if user.last_seen %}
                    <span class="user-info">Last seen on: {{ momentjs(user.last_seen).calendar() }}</span>
                {% endif %}
            </div>
        </div>
    </div>
    <div>
        {% if not g.user.is_anonymous %}
            {% if user.id == g.user.id %}
                <a class="btn btn-success" href="/user/edit">Edit</a>
            {% elif not g.user.is_following(user) %}
                <a class="btn btn-info" href="{{ url_for('follow', username=user.username) }}">Follow</a>
            {% else %}
                <a class="btn btn-danger" href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a>
            {% endif %}
        {% endif %}
    </div>
    <hr>
    <div id="post-list">
        {% for post in posts.items %}
            {% with user=post.author %}
                {% include 'post.html' %}
            {% endwith %}
        {% endfor %}
        {{ macros.pager(posts, "Newer messages", "Older messages",
            url_for("user_profile", username=user.username, page=posts.prev_num),
            url_for("user_profile", username=user.username, page=posts.next_num))
        }}
    </div>
{% endblock %}
